  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    overflow: auto;
    justify-items: center;
    max-width: 1120px;
    margin: auto;
    background-color: lightcoral;
  }

@media screen and (min-width: 480px) {
  img {
    height: 96px;
    width: 122px;
  }
  .card {
    height: 96px;
    width: 122px;
  }
  .card:hover {
    height: 100px;
    width: 127px;
  }
  img:hover {
    height: 100px;
    width: 127px;
  }
  .wrapper {
    /* min-width: 480px; */
  }
}
@media screen and (min-width: 640px) {
  img {
    height: 144px;
    width: 183px;
  }
  .card {
    height: 144px;
    width: 183px;
  }
  .card:hover {
    height: 148px;
    width: 188px;
  }
  img:hover {
    height: 148px;
    width: 188px;
  }
}
@media screen and (min-width: 800px) {
  img {
    height: 192px;
    width: 244px;
  }
  .card {
    height: 192px;
    width: 244px;
  }
  .card:hover {
    height: 196px;
    width: 249px;
  }
  img:hover {
    height: 196px;
    width: 249px;
  }
}

@media screen and (min-width: 1100px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

