.container {
    height: 100px;
    background-color: rgb(86, 192, 228);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-content: center;
    margin: auto;
}

.title, .message, .score {
    margin: 20px;
    font-size: 20px;
}

.title {
    text-align: left;
}

.message {
    text-align: center;
    color: white;
}

.score {
    text-align: right;
}