.messageOverflow {
    display: grid;
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bolder;
    font-variant-caps: petite-caps;
    /* margin: 10px;
    padding: 10px; */
    color: rgb(86, 192, 228);
}
@media screen and (min-width: 480px) {
    .messageOverflow {
        font-size: 1.8rem;
    }
}
@media screen and (min-width: 640px) {
    .messageOverflow {
        font-size: 2rem;
    }
}
@media screen and (min-width: 800px) {
    .messageOverflow {
      display: none;
    }
  }